# NYC_2013

# NYC Flights 2013 Analysis

 - Host By: DataRockie 
 - Edit By: Ggguys

In [46]:

library(tidyverse)
library(dplyr)

**DataPreparation**

In [47]:
# Import Data
flights <- read.csv("flights.csv",stringsAsFactors = FALSE)

airline <-  read.csv("airlines.csv",stringsAsFactors = FALSE)

In [48]:
# View Data
glimpse(flights)

Rows: 336,776
Columns: 19
$ year           <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2…
$ month          <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ day            <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ dep_time       <int> 517, 533, 542, 544, 554, 554, 555, 557, 557, 558, 558, …
$ sched_dep_time <int> 515, 529, 540, 545, 600, 558, 600, 600, 600, 600, 600, …
$ dep_delay      <int> 2, 4, 2, -1, -6, -4, -5, -3, -3, -2, -2, -2, -2, -2, -1…
$ arr_time       <int> 830, 850, 923, 1004, 812, 740, 913, 709, 838, 753, 849,…
$ sched_arr_time <int> 819, 830, 850, 1022, 837, 728, 854, 723, 846, 745, 851,…
$ arr_delay      <int> 11, 20, 33, -18, -25, 12, 19, -14, -8, 8, -2, -3, 7, -1…
$ carrier        <chr> "UA", "UA", "AA", "B6", "DL", "UA", "B6", "EV", "B6", "…
$ flight         <int> 1545, 1714, 1141, 725, 461, 1696, 507, 5708, 79, 301, 4…
$ tailnum        <chr> "N14228", "N24211", "N619AA", "N804JB", "N668DN", "N394…
$ origin         <chr> "EWR", "LGA", "JFK", "JFK", "LGA", "EWR", "EWR", "LGA",…
$ dest           <chr> "IAH", "IAH", "MIA", "BQN", "ATL", "ORD", "FLL", "IAD",…
$ air_time       <int> 227, 227, 160, 183, 116, 150, 158, 53, 140, 138, 149, 1…
$ distance       <int> 1400, 1416, 1089, 1576, 762, 719, 1065, 229, 944, 733, …
$ hour           <int> 5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6…
$ minute         <int> 15, 29, 40, 45, 0, 58, 0, 0, 0, 0, 0, 0, 0, 0, 0, 59, 0…
$ time_hour      <chr> "2013-01-01T10:00:00Z", "2013-01-01T10:00:00Z", "2013-0…

In [49]:
glimpse(airline)

Rows: 16
Columns: 2
$ carrier <chr> "9E", "AA", "AS", "B6", "DL", "EV", "F9", "FL", "HA", "MQ", "O…
$ name    <chr> "Endeavor Air Inc.", "American Airlines Inc.", "Alaska Airline…

**Check Missing Value**

- Compleate Data = 97% 
- Missing Data = 3%

We accept missing data <= 5% we will clear missing data to be confrimed that not impact with database.

In [50]:
sum(complete.cases(flights))/nrow(flights)

In [51]:
flights_clean <- drop_na(flights)
flights_clean %>%
    head(5)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
,<int>,<int>,<int>,<int>,<int>,<int>,<int>,<int>,<int>,<chr>,<int>,<chr>,<chr>,<chr>,<int>,<int>,<int>,<int>,<chr>
1,2013,1,1,517,515,2,830,819,11,UA,1545,N14228,EWR,IAH,227,1400,5,15,2013-01-01T10:00:00Z
2,2013,1,1,533,529,4,850,830,20,UA,1714,N24211,LGA,IAH,227,1416,5,29,2013-01-01T10:00:00Z
3,2013,1,1,542,540,2,923,850,33,AA,1141,N619AA,JFK,MIA,160,1089,5,40,2013-01-01T10:00:00Z
4,2013,1,1,544,545,-1,1004,1022,-18,B6,725,N804JB,JFK,BQN,183,1576,5,45,2013-01-01T10:00:00Z
5,2013,1,1,554,600,-6,812,837,-25,DL,461,N668DN,LGA,ATL,116,762,6,0,2013-01-01T11:00:00Z

# Questions 1 

**With season had most flights in 2013 ?**

In [52]:
 season_flights <-flights_clean  %>%
   mutate(season = case_when(
       month == 1 ~ "winter",
       month == 2 ~ "winter",
       month == 3 ~ "sprin",
       month == 4 ~ "sprin",
       month == 5 ~ "sprin",
       month == 6 ~ "summer",
       month == 7 ~ "summer",
       month == 8 ~ "summer",
       month == 9 ~ "autumn",
       month == 10 ~ "autumn",
       month == 11 ~ "autumn",
       month == 12 ~ "winter")) %>%
    count(season) %>%
    arrange(desc(n)) 

    season_flights

season,n
<chr>,<int>
summer,84124
sprin,83594
autumn,82599
winter,77029

# Queastions 2 

**With carrier had most distance of 2013 ?**

In [53]:
n_dist_flights <- flights_clean %>%
  group_by(carrier) %>%
  summarise(sum_dist = sum(distance),
            mean_dist = mean(distance),
            sd_dist = sd(distance),
            num_flights = n()) %>%
  left_join(airline,by = "carrier") %>%
  select(airline_name = name,carrier,num_flights,sum_dist,mean_dist,sd_dist) %>%
  arrange(desc(sum_dist))

 n_dist_flights

airline_name,carrier,num_flights,sum_dist,mean_dist,sd_dist
<chr>,<chr>,<int>,<int>,<dbl>,<dbl>
United Air Lines Inc.,UA,57782,88482811,1531.3214,798.7333
Delta Air Lines Inc.,DL,47658,58999610,1237.9791,660.6463
JetBlue Airways,B6,54049,57815654,1069.6896,703.9905
American Airlines Inc.,AA,31947,42913762,1343.2799,639.7673
ExpressJet Airlines Inc.,EV,51108,28766906,562.8650,287.1975
Envoy Air,MQ,25037,14280468,570.3746,226.2469
Virgin America,VX,5116,12787097,2499.4326,88.1994
Southwest Airlines Co.,WN,12044,12007523,996.9714,410.3949
US Airways Inc.,US,19831,11121739,560.8259,587.7829
Endeavor Air Inc.,9E,17294,9163911,529.8896,320.2736
AirTran Airways Corporation,FL,3175,2110700,664.7874,160.9307
Hawaiian Airlines Inc.,HA,342,1704186,4983.0000,0.0000
Alaska Airlines Inc.,AS,709,1703018,2402.0000,0.0000
Frontier Airlines Inc.,F9,681,1103220,1620.0000,0.0000
Mesa Airlines Inc.,YV,544,204782,376.4375,160.0885
SkyWest Airlines Inc.,OO,29,14769,509.2759,215.1046

# Questions 3 
**Which top 5 airline had hightest number of delayed dapartures ?**

In [54]:
flights_delayed <- flights_clean %>%
    group_by(carrier) %>%
    filter(dep_delay > 0) %>%
    summarize(num_delay = n()) %>%
    left_join(airline,by = "carrier") %>%
    select(airline_name = name,num_delay) %>%
    arrange(desc(num_delay))

flights_delayed %>%
    head(5)

airline_name,num_delay
<chr>,<int>
United Air Lines Inc.,27125
ExpressJet Airlines Inc.,22976
JetBlue Airways,21372
Delta Air Lines Inc.,15186
American Airlines Inc.,10105

# Questions 4
**Top 5 best performance airlines ranked base on flights delay ratio**

In [55]:
 deleyed_ratio <- n_dist_flights %>%
left_join(flights_delayed,by = "airline_name") %>%
mutate(deleyed_ratio = flights_delayed$num_delay / n_dist_flights$num_flights ) %>%
select(airline_name,carrier,num_flights,deleyed_ratio)

deleyed_ratio %>%
arrange(deleyed_ratio) %>%
head(5)

airline_name,carrier,num_flights,deleyed_ratio
<chr>,<chr>,<int>,<dbl>
Mesa Airlines Inc.,YV,544,0.1268382
Endeavor Air Inc.,9E,17294,0.1281369
ExpressJet Airlines Inc.,EV,51108,0.1977186
US Airways Inc.,US,19831,0.2401291
SkyWest Airlines Inc.,OO,29,0.3103448

# Questions 5
**Which Top 5 popular destinations in December 2013**

In [56]:
flights_clean %>%
filter(month == 12) %>%
group_by(dest) %>%
summarise(num_flights = n()) %>%
select(dest,num_flights) %>%
arrange(desc(num_flights)) %>%
head(5)

dest,num_flights
<chr>,<int>
ATL,1429
LAX,1390
MCO,1203
SFO,1159
CLT,1155